body {
	background-color: #FFF;
	font-size: 12px;
 }

 /**header**/
 #header-nav {
	background-color: #DEB887;
	border-radius: 0;
	border: 0;
	padding-bottom: 1.5em;
}
.navbar-brand {
	padding-top: 10px;
}
.navbar-brand h1 {
	color: #DC143C;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 1px #222;
	font-weight: bold;
}
#nav-list {
	margin-top: 2px;

}
#nav-list a {
	text-align: center;
	color: #DC143C;
	border-bottom: 1px solid #fff;
}		
#nav-list a:hover {
	background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .iconbar{
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

 /**header-finish**/
 /**home -page**/
#home-titles {
height: 1000px;
margin: 5px;
padding: 10px;
 }
 h2 {
color: #DC143C;
text-shadow: 0.5px 0.5px 0.5px #222;
font-size: 3.5em;
 }
 #chicken {
font-size: 1.5em;
color: #000;
 }
 section {
 background: #DEB887;
 color: #000;
 }
 /**finish-home-page**/
 /*****Large devices only*****/
@media (min-width: 1200px){
 #header-nav {
	border-radius: 0;
	border: 0;
	padding-bottom: 1.5em; }
 }
 /*****Medium devices only *****/
@media (min-width: 768px) and (max-width: 991px) {
 #header-nav {
	border-radius: 0;
	border: 0;
	padding-bottom: 1.5em;
 }
 /*****Small devices only *****/
@media (min-width: 768px) and (max-width: 991px) {
 	#header-nav {
	border-radius: 0;
	border: 0;
	padding-bottom: 1.5em;
 }
 /*****Extra Small devices only *****/
@media (max-width: 767px) {
 	#header-nav {
	border-radius: 0;
	border: 0;
	padding-bottom: 1.5em;
 }
 .navbar-brand h1 {
	padding-top: 0px;
	margin-top: 0px;
 }